* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --Mercury: #b1b1b1;
  --Moon: #c0c0c0;
  --Earth: #2e8b57;
  --Mars: #b22222;
  --Jupiter: #d2b48c;
  --Saturn: #daa520;
  --Uranus: #afeeee;
  --Neptune: #4682b4;
  --Pluto: #deb887;
}

body,
html,
#root {
  background-color: black;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
}

canvas {
  height: 100vh;
  position: relative;
}

.parag {
  color: white;
  font-size: 36px;
  font-weight: 600;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}

/* design navbar */

.navbar {
  width: 100%;
  z-index: 100;
  position: fixed;
}

.container-nav {
  width: 90%;
  padding: 2rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
}

.logo {
  font-weight: 600;
  font-size: 20px;
  padding: 0 2em 0 0;
}

ul li {
  list-style-type: none;
  cursor: pointer;
  display: inline;
  padding-bottom: 2.15em;
  transition: 0.3s ease;
}

.menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu > div:nth-of-type(1) li:hover {
  filter: drop-shadow(0 0 20px);
  color: var(--Mercury);
  border-bottom: 1px solid var(--Mercury);
}

.menu > div:nth-of-type(2) li:hover {
  filter: drop-shadow(0px 0px 20px var(--Moon));
  color: var(--Moon);
  border-bottom: 1px solid var(--Moon);
}

.menu > div:nth-of-type(3) li:hover {
  filter: drop-shadow(0px 0px 20px var(--Earth));
  color: var(--Earth);
  border-bottom: 1px solid var(--Earth);
}

.menu > div:nth-of-type(4) li:hover {
  filter: drop-shadow(0px 0px 20px var(--Mars));
  color: var(--Mars);
  border-bottom: 1px solid var(--Mars);
}

.menu > div:nth-of-type(5) li:hover {
  filter: drop-shadow(0px 0px 20px var(--Jupiter));
  color: var(--Jupiter);
  border-bottom: 1px solid var(--Jupiter);
}

.menu > div:nth-of-type(6) li:hover {
  filter: drop-shadow(0px 0px 20px var(--Saturn));
  color: var(--Saturn);
  border-bottom: 1px solid var(--Saturn);
}

.menu > div:nth-of-type(7) li:hover {
  filter: drop-shadow(0px 0px 20px var(--Uranus));
  color: var(--Uranus);
  border-bottom: 1px solid var(--Uranus);
}

.menu > div:nth-of-type(8) li:hover {
  filter: drop-shadow(0px 0px 20px var(--Neptune));
  color: var(--Neptune);
  border-bottom: 1px solid var(--Neptune);
}

.menu > div:nth-of-type(9) li:hover {
  filter: drop-shadow(0px 0px 20px var(--Pluto));
  color: var(--Pluto);
  border-bottom: 1px solid var(--Pluto);
}

/* LoadingScreen.css */
.container-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  color: white;
}

.container-loading .target {
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
}

.container-loading .sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-loading .earth {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  animation: rotateAnimation 1s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg) translateX(30px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(30px) rotate(360deg);
  }
}
